.row-header{
margin:0px auto;
padding: 0px auto;

}
.body{
	padding:50px 0px 0px 0px;
	z-index: 0;
}
.navbar-dark{
	background-color: #4B0082;
}
.History{
padding-top: 50px;
padding-left:  30px;
margin: 0px ;
}

.Corporate{
padding-top: 90px;
padding-left:  30px;
margin: 0px ;
}
.row-content{
margin:0px auto;
padding:50px 0px 50px 0px;
border-bottom: 1px ridge;
min-height: 400px;

}
.footer{
background-color: #D1C4E8;
margin:0px auto;
padding:20px 0px 20px 0px;

}
.jumbotron{
padding-top:  100px ;
padding-right:30px;
padding-bottom:70px;
padding-left:  30px;
margin:0px auto;
background: #9575CD;
color: floralwhite;
}
.address{
font-size: 80%;
margin: 0px;
colour:#0f0f0f;

}

